html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    font-family: 'Times New Roman', serif;
    overflow-x: hidden;
}

/* PLAYER */
.player {
    background: #1db954;
    color: white;
    padding: 22px;
    display: flex;
    align-items: center;
    gap: 22px;
}

/* TITULO */
.main-text {
    text-align: center;
    font-size: 34px;
    margin: 36px 0;
    color: #fff;
}

/* CARROSSEL */
.carousel {
    text-align: center;
}

.carousel img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
}

/* TEMPO */
.love-time {
    text-align: center;
    font-size: 28px;
    margin: 38px 0;
    color: #fff;
}

/* TEXTO */
.custom-text {
    text-align: center;
    max-width: 800px;
    margin: 46px auto;
    font-size: 24px;
    line-height: 1.6;
    color: #fff;
}

/* CORAÇÕES */
.heart {
    position: fixed;
    top: -20px;
    font-size: 30px;
    pointer-events: none;
    z-index: 9999;
    animation: fall linear;
    color: #fff;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* TELA INICIAL */
#start-screen {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#start-btn {
    padding: 28px 48px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.main-text {
    font-size: 56px;
}

.love-time {
    font-size: 44px;
}

.custom-text {
    font-size: 34px;
    line-height: 1.9;
}

.player {
    font-size: 26px;
}

.player strong {
    font-size: 28px;
        }
